<a href="https://colab.research.google.com/github/SahilR02/ADS-Experiments/blob/main/ADS%20Experiment%202/ADS_Exp2_SahilR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ADS Experiment No.2**

**Importing required libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('district_apy.csv')
data

,ds_st,DS_1971,ST_1971,year,crop,area,production,yield
0,24 Parganas_West Bengal,24 Parganas,West Bengal,1956,Barley,0.040486,0.014221,0.351264
1,24 Parganas_West Bengal,24 Parganas,West Bengal,1957,Barley,0.040486,0.015640,0.386298
2,24 Parganas_West Bengal,24 Parganas,West Bengal,1958,Barley,0.202429,0.126535,0.625084
3,24 Parganas_West Bengal,24 Parganas,West Bengal,1959,Barley,0.080972,0.032623,0.402893
4,24 Parganas_West Bengal,24 Parganas,West Bengal,1960,Barley,0.040486,0.021948,0.542109
...,...,...,...,...,...,...,...,...
428553,Yavatmal_Maharashtra,Yavatmal,Maharashtra,2004,Wheat,5.100000,5.000000,0.980392
428554,Yavatmal_Maharashtra,Yavatmal,Maharashtra,2005,Wheat,15.900000,15.800000,0.993711
428555,Yavatmal_Maharashtra,Yavatmal,Maharashtra,2006,Wheat,33.100000,37.600000,1.135952
428556,Yavatmal_Maharashtra,Yavatmal,Maharashtra,2007,Wheat,45.600000,82.200000,1.802632
428557,Yavatmal_Maharashtra,Yavatmal,Maharashtra,2008,Wheat,38.000000,41.200000,1.084211

In [ ]:
data.describe()

                year           area     production          yield
count  428558.000000  381364.000000  315617.000000  199381.000000
mean     1982.000000      20.685934      28.058628       1.275256
std        15.297076      61.116639     111.082971       9.278669
min      1956.000000       0.000000       0.000000       0.000063
25%      1969.000000       0.000000       0.000000       0.411765
50%      1982.000000       0.820000       0.300000       0.733287
75%      1995.000000      11.340000       8.890000       1.204639
max      2008.000000    1174.000000    3847.600000    1454.000000

**Displaying Datatypes of Each column in Dataset**

In [ ]:
# Assuming 'data' is your DataFrame
column_data_types = data.dtypes
print("Data types of columns:")
print(column_data_types)

Data types of columns:
ds_st          object
DS_1971        object
ST_1971        object
year            int64
crop           object
area          float64
production    float64
yield         float64
dtype: object

**Simple Imputer**

In [ ]:
missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st              0
DS_1971            0
ST_1971            0
year               0
crop               0
area           47194
production    112941
yield         229177
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

# Instantiate SimpleImputer for numerical columns with strategy='median'
num_imputer = SimpleImputer(strategy='most_frequent')

# List of numerical columns
num_cols = ['year', 'area', 'production', 'yield']

# Apply the imputers to fill missing values
data[num_cols] = num_imputer.fit_transform(data[num_cols])

In [ ]:
missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st         0
DS_1971       0
ST_1971       0
year          0
crop          0
area          0
production    0
yield         0
dtype: int64

**Most Frequent Value**

In [ ]:
data = pd.read_csv('district_apy.csv')

missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st              0
DS_1971            0
ST_1971            0
year               0
crop               0
area           47194
production    112941
yield         229177
dtype: int64

In [ ]:
# List of numerical columns
num_columns = ['area', 'production', 'yield']

#Fill missing values with the most frequent value in numerical columns
data[num_columns] = data[num_columns].apply(lambda x: x.fillna(x.value_counts().index[0]))

# Display the cleaned dataset
print("\nCleaned Dataset - Most Frequent Value in Numerical Columns:")
print(data.head())

Cleaned Dataset - Most Frequent Value in Numerical Columns:
                     ds_st      DS_1971      ST_1971  year    crop      area  \
0  24 Parganas_West Bengal  24 Parganas  West Bengal  1956  Barley  0.040486
1  24 Parganas_West Bengal  24 Parganas  West Bengal  1957  Barley  0.040486
2  24 Parganas_West Bengal  24 Parganas  West Bengal  1958  Barley  0.202429
3  24 Parganas_West Bengal  24 Parganas  West Bengal  1959  Barley  0.080972
4  24 Parganas_West Bengal  24 Parganas  West Bengal  1960  Barley  0.040486

   production     yield
0    0.014221  0.351264
1    0.015640  0.386298
2    0.126535  0.625084
3    0.032623  0.402893
4    0.021948  0.542109

In [ ]:
missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st         0
DS_1971       0
ST_1971       0
year          0
crop          0
area          0
production    0
yield         0
dtype: int64

**Linear Interpolation**

In [ ]:
data = pd.read_csv('district_apy.csv')

missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st              0
DS_1971            0
ST_1971            0
year               0
crop               0
area           47194
production    112941
yield         229177
dtype: int64

In [ ]:
# List of numerical columns
num_columns = ['area', 'production', 'yield']

# Interpolate missing values in the DataFrame
data[num_columns] = data[num_columns].interpolate()

# Display the modified dataset
print("\nModified Dataset - Interpolated ")
print(data.head())

Modified Dataset - Interpolated
                     ds_st      DS_1971      ST_1971  year    crop      area  \
0  24 Parganas_West Bengal  24 Parganas  West Bengal  1956  Barley  0.040486
1  24 Parganas_West Bengal  24 Parganas  West Bengal  1957  Barley  0.040486
2  24 Parganas_West Bengal  24 Parganas  West Bengal  1958  Barley  0.202429
3  24 Parganas_West Bengal  24 Parganas  West Bengal  1959  Barley  0.080972
4  24 Parganas_West Bengal  24 Parganas  West Bengal  1960  Barley  0.040486

   production     yield
0    0.014221  0.351264
1    0.015640  0.386298
2    0.126535  0.625084
3    0.032623  0.402893
4    0.021948  0.542109

In [ ]:
missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st         0
DS_1971       0
ST_1971       0
year          0
crop          0
area          0
production    0
yield         0
dtype: int64

**Fixed Value**

In [ ]:
data = pd.read_csv('district_apy.csv')

missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st              0
DS_1971            0
ST_1971            0
year               0
crop               0
area           47194
production    112941
yield         229177
dtype: int64

In [ ]:
# List of numerical columns
num_columns = ['area', 'production', 'yield']

# Fill missing values with zeros
data[num_columns]= data[num_columns].fillna(0)

# Display the cleaned dataset
print("\nCleaned Dataset - Fixed Value:")
print(data.head())

Cleaned Dataset - Fixed Value:
                     ds_st      DS_1971      ST_1971  year    crop      area  \
0  24 Parganas_West Bengal  24 Parganas  West Bengal  1956  Barley  0.040486
1  24 Parganas_West Bengal  24 Parganas  West Bengal  1957  Barley  0.040486
2  24 Parganas_West Bengal  24 Parganas  West Bengal  1958  Barley  0.202429
3  24 Parganas_West Bengal  24 Parganas  West Bengal  1959  Barley  0.080972
4  24 Parganas_West Bengal  24 Parganas  West Bengal  1960  Barley  0.040486

   production     yield
0    0.014221  0.351264
1    0.015640  0.386298
2    0.126535  0.625084
3    0.032623  0.402893
4    0.021948  0.542109

In [ ]:
missing_values_per_column = data.isna().sum()
print("Number of missing values per column:")
print(missing_values_per_column)

Number of missing values per column:
ds_st         0
DS_1971       0
ST_1971       0
year          0
crop          0
area          0
production    0
yield         0
dtype: int64